:root {
  --blue: #23213d;
  --dark-teal: #22636b;
  --teal: #22636b;
  --light-teal: #94e092;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--blue);
  font-family: "Source Code Pro";
  font-size: 1rem;
}

h1 {
  color: white;
  margin-left: 3%;
  font-size: 1.5rem;
}

button {
  position: absolute;
  top: 10px;
  right: 20px;
}

button:hover {
  cursor: pointer;
  opacity: 30%;
  transition: 0.3s ease-out;
}

button a {
  text-decoration: none;
}

.profile {
  margin: 2%;
  width: 25vw;
  align-items: center;
  display: flex;
}

img.avatar {
  border-radius: 50%;
  margin: auto;
  width: 100%;
  border: solid 3px white;
  background-color: rgb(31, 23, 71);
}

.info {
  color: white;
  font-size: 0.7rem;
  width: 25vw;
  background-color: rgb(31, 23, 71);
  border: solid 3px rgb(61, 57, 85);
  border-radius: 5px;
  margin: 2%;
  line-height: 2;
}

.info header {
  background-color: rgb(61, 57, 85);
  font-size: 0.7rem;
}

.chart-container {
  color: white;
  border: solid 3px rgb(61, 57, 85);
  border-radius: 5px;
  position: absolute;
  top: 10%;
  right: 0;
  width: 60%;
  margin: 5% 5%;
}

.chart-container header {
  background-color: rgb(61, 57, 85);
}

.bar {
  width: 100%;
  margin: 10px auto;
  border-radius: 2%;
  background-color: grey;
  display: flex;
}

.progress {
  width: 0%;
  height: 30px;
  background-color: #9e4491;
  border-radius: 2%;
  padding: 0;
  margin: 0;
}

.progress:hover {
  cursor: pointer;
  scale: 1.1;
  transition: ease-out 0.1s;
}
